<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Paneli | @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo"><i class="fa fa-user-secret" aria-hidden="true"></i> ADMIN PANELI</div>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">                           
                                <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                                <li><a href="#">Çıkış</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div><!--/.container-fluid -->
            </nav>
    </header>

    <div class="container-fluid">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="signature">
            &copy; @DateTime.Now.Year  - Ferit ARIBULAN
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>